.bodyx {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

@font-face {
    font-family: GreatVibes;
    src: url("{{ asset('assets/fonts/GreatVibes-Regular.ttf')}}");
}

.ft-great {
    font-family: 'GreatVibes';
}

@font-face {
    font-family: Poppins-Reg;
    src: url("{{ asset('assets/fonts/Poppins/Poppins-Regular.ttf')}}");
}

.ft-poppins-reg {
    font-family: 'Poppins-Reg';
}

.txt-gold {
    color: #9d7b48;
}

.headbg {
    width: 100%;
    background: url('../img/img-c01/contoh-1.jpeg')no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.bag1 {
    padding: 15vw 0 13vw;
}

.judul-1 {
    font-family: 'GreatVibes';
    /* background-color: black; */
    color: #9d7b48;
    font-size: 55px;
}

.judul-2 {
    font-family: 'Poppins-Reg';
    color: #9d7b48;
    font-size: 30px;
}

.judul-3 {
    font-family: 'Poppins-Reg';
    color: #9d7b48;
    font-size: 25px;
}

.bag2 {
    margin: 20px 120px 20px 120px;
}

.bag2-judul1 {
    font-family: 'Poppins-Reg';
    color: #5d5d5d;
    font-size: 35px;
}

.bag2-judul2 {
    font-family: 'GreatVibes';
    color: #9d7b48;
    font-size: 55px;
}

.bag2-judul3 {
    font-family: 'Poppins-Reg';
    color: #5d5d5d;
    font-size: 20px;
}

.bag3 {
    margin: 70px 200px 70px 200px;
}

.box-jam {
    height: 190px;
    width: 190px;
    /* border: 2px solid blue; */
    border-radius: 5%;
    -webkit-box-shadow: 4px 7px 13px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 7px 13px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 7px 13px -3px rgba(0, 0, 0, 0.75);
}

.bodi-box {
    color: #9d7b48;
    font-family: 'Poppins-Reg';
    font-size: 100px;
    font-weight: 900;
    margin-top: -20px;
}

.judul-box {
    color: #5d5d5d;
    font-family: 'Poppins-Reg';
    font-size: 20px;
}

.bag8bg {
    text-align: center;
    margin: 70px 100px;
    /* width: 100%; */
    /* background: url("{{ asset('assets/images/designc01/image-kehadiran.png')}}")no-repeat center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.judul-bag8 {
    padding: 20px 0;
    font-family: 'Poppins-Reg';
    font-weight: bolder;
    color: #5d5d5d;
}

.btn-emas {
    color: #fff;
    background-color: #9d7b48;
    border-color: #9d7b48;
}

.penutup {
    font-family: 'GreatVibes';
    color: #9d7b48;
    font-size: 55px;
    text-align: center;
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    .bag3 {
        margin: 20px 150px 20px 150px !important;
    }

    .bodi-box {
        font-size: 70px !important;
    }

    .box-jam {
        height: 150px !important;
        width: 150px !important;
        border-radius: 5%;
    }

    .bag7 {
        margin: 70px 20px !important;
    }

    .bag8bg {
        margin: 70px 20px !important;
    }

    .bag4 {
        margin: 70px 60px !important;
    }

    .box-akad {
        margin-top: -15vw !important;
        width: 450px !important;
        height: 290px !important;
    }

    .img-akad {
        max-width: 450px !important;
    }

    .bag4-judul {
        font-size: 27px !important;
    }

    .bag4-tempat {
        font-size: 16px !important;
    }
}

@media (max-width: 780px) {
    .judul-1 {
        font-size: 35px;
    }

    .judul-2 {
        font-size: 15px;
    }

    .judul-3 {
        font-size: 15px;
    }

    .bag2-judul1 {
        font-size: 22px !important;
    }

    .bag2-judul2 {
        font-size: 32px !important;
    }

    .bag2-judul3 {
        font-size: 16px !important;
    }

    .bag3 {
        margin: 20px 100px 20px 100px !important;
    }

    .bodi-box {
        font-size: 50px !important;
    }

    .box-jam {
        height: 120px !important;
        width: 150px !important;
        border-radius: 5%;
    }

    .judul-box {
        font-size: 15px;
    }

    .bag7 {
        margin: 70px 20px !important;
    }

    .bag8bg {
        margin: 70px 20px !important;
    }

    .img-akad {
        max-width: 400px !important;
    }

    .bag4-judul {
        font-size: 25px;
    }

    .bag4-tempat {
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .headbg {
        background: url("{{ asset('/assets/images/designc01/banner-temp-1.png')}}")no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /* background: url("{{ asset('assets/images/designc01/banner-p.png')}}")no-repeat center; */
    }

    .overlay {
        background-color: #00000085;
        z-index: 1;
    }

    .judul-1 {
        color: white !important;
        font-size: 35px;
    }

    .judul-2 {
        color: white !important;
        font-size: 15px;
    }

    .judul-3 {
        color: white !important;
        font-size: 15px;
    }

    .bag2 {
        margin: 20px 20px 20px 20px !important;
    }

    .bag2-judul1 {
        text-align: center;
        font-size: 25px !important;
    }

    .bag2-judul2 {
        text-align: center;
        font-size: 35px !important;
    }

    .bag2-judul3 {
        text-align: center;
        font-size: 18px !important;
    }

    .bag3 {
        margin: 20px 20px 20px 20px !important;
    }

    .bodi-box {
        font-size: 30px !important;
    }

    .box-jam {
        height: 80px !important;
        width: 80px !important;
        border-radius: 5%;
    }

    .judul-box {
        font-size: 10px;
    }

    .bag7 {
        margin: 70px 20px !important;
    }

    .bag8bg {
        margin: 70px 20px !important;
    }

    .bag4 {
        margin: 70px 20px !important;
    }

    .img-akad {
        max-width: 100% !important;
    }

    .bag4-judul {
        font-size: 22px !important;
    }

    .bag4-tempat {
        font-size: 13px !important;
    }

    .box-akad {
        margin-top: -8vw !important;
        width: 100% !important;
        height: 230px !important;
    }
}

/*  */


.ft-55 {
    font-size: 55px;
}

.ft-45 {
    font-size: 45px;
}

.ft-25 {
    font-size: 25px;
}

.ft-30 {
    font-size: 30px;
}

.bag4 {
    /* margin: 70px 200px; */
    margin-left: 150px;
    margin-right: 150px;
}

.judul-bag4 {
    color: #5d5d5d;
    font-family: 'Poppins-Reg';
    font-size: 55px;
    text-align: center;
    font-weight: bolder;
}

.box-akad {
    margin-top: -15vw;
    width: 600px;
    height: 36 0px;
    z-index: 1;
    background-color: #fff;
    text-align: center;
    -webkit-box-shadow: 9px 9px 18px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 9px 18px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 9px 18px -1px rgba(0, 0, 0, 0.75);
}

.img-akad {
    max-width: 600px;
}

.pad-nol {
    padding: 0px 0px;
}

.bag7 {
    margin: 70px 100px;
}

.padcol div {
    padding: 7px 7px;
}

.bag4-judul {
    font-family: 'Poppins-Reg';
    font-weight: 900;
    color: #5d5d5d;
    font-size: 30px;
}

.bag4-tempat {
    font-family: 'Poppins-Reg';
    color: #black;
    font-size: 20px;
}

.spasi {
    margin-bottom: 50px;
}
